<main class="main">
  <div class="inner">
       <div class="greeting"> 
        <%if user_signed_in? %>
       <div class="greeting"> 
        こんにちは、
                 <%= link_to "#{current_user.name}", edit_user_password_path, class: :greeting__link%>
        <%end %>
       </div> 
    <div class="card__wrapper">
     <% @prototypes.each do |prototype| %>
       <%= render partial: "prototype", locals: { prototype: prototype } %>
      <% end %>
    </div>
  </div>
</main>
